<p id="notice"><%= notice %></p>

<p>
  <b>Fullname:</b>
  <%= @user.fullname %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<% if session[:admin] == "Admin" %>
<p>
  <b>Role:</b>
  <%= @user.role.to_s %>
</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', '/posts' %>

